include ../mixins/mixins

header.header
    .container
        .row
            .top-header
                .top-header-block
                    +svg("top-header-block__icon", "bars-thin")
                    h1.logo
                        a.logo__link(href="#") ProspectTest

                    form.search-form
                        .search
                            label.search__label
                                +svg("search__icon", "search")
                                input.search__submit(type="submit")
                            input.search__input(type="text")

                .admin-block
                    .user
                        .user__frame
                            img.thumbnail-photo__img(src="http://i.pravatar.cc/250?img=31")

                        .user__header
                            .user__title Name surname
                            span.user__span Admin

                    .user-button-wrap
                        button.user-button
                            +svg("user-button__icon", "bell")
                            span.user-button__icon-notify

                        button.user-button
                            +svg("user-button__icon", "settings")

                        button.user-button
                            +svg("user-button__icon", "log-out")

include ../sections/menu
