@font-face {
    font-family: 'Encode Sans';
    src: url('EncodeSans-Bold.eot');
    src: url('EncodeSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('EncodeSans-Bold.woff2') format('woff2'),
        url('EncodeSans-Bold.woff') format('woff'),
        url('EncodeSans-Bold.ttf') format('truetype'),
        url('EncodeSans-Bold.svg#EncodeSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

