extends ../layout/main
include ../mixins/mixins

block title
    | index

block content
    .container
        .row
            include ../sections/dashboard
            include ../sections/contain
            include ../sections/action