.admin-block {
  //outline: 2px solid #000;
  display: flex;
  align-items: center;
  @media (max-width: 991px) {
    width: 100%;
  }
}

.user {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 15px;
  padding-right: 20px;
  &:after {
    position: absolute;
    content: "";
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    height: 32px;
  }
  &__frame {
    background-color: #fff;
    width: 48px;
    height: 48px;
    margin-right: 10px;
    border-radius: 50%;
    @media (max-width: 350px) {
      width: 35px;
      height: 35px;
    }
  }

  &__img  {
    width: 100%;
    height: auto;
  }

  &__header {

  }

  &__title {
    font-size: 14px;
    color: #fff;
    @media (max-width: 350px) {
      font-size: 12px;
    }
  }

  &__span {
    font-size: 11px;
    color: rgba(255, 255, 255, 0.4);
  }
}

.user-button-wrap {
  display: flex;
}

.user-button {
  position: relative;
  display: flex;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  width: 32px;
  height: 32px;
  &:not(:last-child) {
    margin-right: 15px;
  }
  @media (max-width: 350px) {
    width: 26px;
    height: 26px;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  border-radius: 50%;

  &__icon {
    fill: #fff;
    width: 14px;
    height: 14px;
    @media (max-width: 350px) {
      width: 10px;
      height: 10px;
    }

    margin: auto;
  }

  &__icon-notify {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #E56A6B;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    @media (max-width: 350px) {
      width: 7px;
      height: 7px;
    }
  }
}
