.button {
  padding: 0 32px;
  height: 40px;
  border-radius: 6px;
  background-color: $color;
  color: #fff;
  font-family: $font-bold;
  border: none;
  &_submit {
    background-color: #E56A6B;
  }
  &_ml_mid {
    margin-left: 25px;
  }
}