html {
  @media (max-width: 575px) {
    font-size: 13px;
  }
  @media (min-width: 576px) {
    font-size: 13px;
  }
  @media (min-width: 768px) {
    font-size: 14px;
  }
  @media (min-width: 992px) {
    font-size: 15px;
  }
  @media (min-width: 1200px) {
    font-size: 14px;
  }
}

body {
  font-family: $font;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #F6F6F6;
  color: #3B4256;
  font-size: 1rem;
  line-height: 1.2;
}

.main {
  flex: 1;
  padding-top: 25px;
  padding-bottom: 30px;
}

.alert {
  font-size: 14px;
}

.logo {
  margin-bottom: 0;
  margin-right: 65px;
  @media (max-width: 991px) {
    margin-right: 20px;
  }
  &__link {
    display: block;
    font-size: 20px;
    @media (max-width: 991px) {
      font-size: 16px;
    }
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
}

.block {
  background-color: #FFFFFF;
  border-radius: 6px;
  padding-bottom: 9.375rem;
  @media (max-width: 1199px) {
    padding-bottom: 30px;
  }
}

.block-layout {
  padding: 15px 20px;
  &_p {
    padding: 15px 25px;
  }
}

.headline {
  background-color: rgba(#EDEDED, .15);
  padding: 20px 20px 20px 15px;
  border-radius: 6px 6px 0 0;
  &_mb {
    margin-bottom: 15px;
  }
}

.title-as-h2 {
  font-family: $font-medium;
  font-size: 22px;
  line-height: 32px;
  color: $color;
  margin-bottom: 0;
}

.title-as-h3 {
  font-size: 18px;
  line-height: 32px;
  color: #000;
  padding: 0 20px;
  &_mb {
    margin-bottom: 15px;
  }
  &_mod {
    font-size: 20px;
    line-height: 32px;
    padding: 0 25px;
  }
  &_pt {
    padding-top: 25px;
  }

}

.paragraph {
  color: #333;
  font-size: 1rem;
  &_s_20 {
    font-size: 1.25rem;
  }
}

.link {
  color: $link-color;
  &:hover {
    color: rgba($link-color, .9);
    text-decoration: none;
    transition: 0.2s;
  }
}

.dashboard {
  order: 1;
  @media (max-width: 991px) {
    margin-bottom: 15px;
  }
}

.contain {
  order: 2;
  @media (max-width: 1199px) {
    order: 3;
    margin-top: 30px;
  }

  @media (max-width: 991px) {
    margin-top: 15px;
  }
}

.action {
  order: 3;
  @media (max-width: 1199px) {
    order: 2;
  }
}