.fields-wrap-offset {
  margin-bottom: 14px;
}

.fields-wrap {
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  &_mb {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}

.field-select {
  display: block;
  cursor: pointer;

  &__span {
    display: block;
    padding: 15px;
    transition: all .3ms ease-in-out;
    margin-right: -1px;
    margin-left: -1px;
    &:hover {
      background-color: rgba(#188592, .75);
      color: #fff;
    }
  }

  &__input {
    display: none;
  }
}

.field-slid {
  position: absolute;
  top: 50px;
  left: -1px;
  z-index: 100;
  background-color: $light-color;
  border-bottom: 1px solid #EAEDF1;
  border-left: 1px solid #EAEDF1;
  border-right: 1px solid #EAEDF1;
  border-radius: 0 0 6px 6px;
  width: 100%;
  box-sizing: content-box;
  box-shadow: 0 11px 10px rgba(0, 0, 0, .5);
  display: none;
  &.open {
    display: block;
  }
}

.field {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $light-color;
  padding: 0 15px;
  height: 56px;
  border: 1px solid #EAEDF1;
  border-radius: 6px;
  color: #3B4256;
  width: 100%;
  flex-shrink: 0;
  &_mb {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  &_mb_min {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
  &_auto {
    height: auto;
    padding-top: 8px;
    padding-bottom: 12px;
  }
  &_w_auto {
    width: auto;
  }
  &_w_mid {
    width: 62.5%;
  }
  &_w_min {
    width: 36.5%;
  }
  &_mr_min {
    &:not(:last-child) {
      margin-right: 4px;
    }
  }

  &_mod {
    background-color: #fff;
    height: 40px;
    @media (max-width: 767px) {
      width: 50%;
    }
    &:not(:last-child) {
      margin-right: 15px;
      @media (max-width: 767px) {
        margin-right: 2px;
      }
    }

    .field-slid {
      top: 35px;
      background-color: #fff;
      border-bottom: 1px solid #EAEDF1;
      border-left: 1px solid #EAEDF1;
      border-right: 1px solid #EAEDF1;
      border-radius: 0 0 6px 6px;
    }

    .field-select__span:hover {
      background-color: #f6f6f6;
      color: #000;
    }
  }

  &__input {
    border: none;
    background-color: transparent;
    display: block;
    color: #3B4256;
    box-shadow: none !important;
    &_b {
      font-family: $font-bold;
    }
    &_mr {
      margin-right: 5px;
    }
    &_w_100 {
      width: 100%;
    }
    &_w_mid {
      width: 80%;
    }
  }

  &__content {
    padding: 15px;
  }

  &__title-wrap {
    width: 100%;
  }

  &__title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-right: -1px;
    margin-left: -1px;
    &.open {
      .field__icon-arrow {
        transform: rotate(180deg);
      }
    }
  }

  &__text {
    line-height: 24px;
    &_bold {
      font-family: $font-bold;
    }
    &_mr {
      margin-right: 10px;
    }
  }

  &__addition-text {
    display: block;
    font-size: 12px;
    line-height: 16px;
    color: #848E99;
    margin-bottom: 4px;
  }

  &__label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    &_deactive {
      cursor: default;
    }
  }

  &__checkbox {
    display: none;
  }

  &__checkmark {
    position: relative;
    height: 24px;
    width: 24px;
    background-color: #fff;
    border-radius: 4px;
    display: block;
    border: 1px solid #E56A6B;
    &:after {
      content: "";
      position: absolute;
      display: none;
    }
  }

  &__textarea {
    width: 100%;
    background-color: transparent;
    border: none;
    resize: none;
    line-height: 24px;
  }

  &__icon {
    fill: $color;
    width: 22px;
    height: 22px;
    flex-shrink: 0;
  }

  &__icon-arrow {
    fill: #848E99;
    width: 12px;
    height: 8px;
    transition: transform .3s ease-in-out;
  }
}

.field__checkbox:disabled ~ .field__checkmark {
  background-color: #DDE1E6;
  border: 1px solid #DDE1E6;
  border-radius: 4px;
}

.field__checkbox:checked ~ .field__checkmark {
  background-color: #E56A6B;
  border: 1px solid #E56A6B;
  border-radius: 6px;
  &:after {
    display: block;
    left: 12px;
    top: 10px;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 7px;
    height: 13px;
    border: solid white;
    border-width: 0 2px 2px 0;
  }
}
