.header {
  display: flex;
  align-items: center;
  background-color: $color;
  padding: 12px 0;
  flex-shrink: 0;
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  @media (max-width: 991px) {
    flex-direction: column;
  }
}

.top-header-block {
  display: flex;
  align-items: center;
  width: 55%;
  @media (max-width: 991px) {
    width: 100%;
    margin-bottom: 15px;
  }
  @media (max-width: 350px) {
    margin-bottom: 5px;
  }

  &__icon {
    cursor: pointer;
    fill: #fff;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin-right: 30px;
    @media (max-width: 991px) {
      margin-right: 15px;
    }
    @media (max-width: 350px) {
      margin-right: 5px;
      width: 22px;
      height: 22px;
    }
  }
}
