.radio-buttons {
  display: flex;
  flex-wrap: wrap;
}

.input-radio {
  margin-bottom: 15px;

  &__span {
    cursor: pointer;
    background-color: #FAFAFA;
    color: #3B4256;
    border-radius: 24px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
  }

  &__button {
    display: none;
  }
  &:not(:last-child) {
    margin-right: 8px;
  }
}

.input-radio input[type="radio"]:checked ~ span {
  background-color: $color;
  color: #fff;
}