.navbar-wrapper {
  background-color: #fff;
  position: relative;
  .nav-link {
    position: relative;
    padding: 24px 10px!important;
    &:hover {
      @media (min-width: 992px) {
        &:after {
          position: absolute;
          content: "";
          border-bottom: 2px solid #2E647A;
          width: 100%;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 30px;
  @media (max-width: 991px) {
    padding: 15px 30px;
  }
}

.navbar-nav {
  flex-wrap: wrap-reverse;
}

.nav-item {
  @media (min-width: 992px) {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  @media (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 45px;
    }
  }
}

.nav-link {
  color: #171D33;
  font-size: 14px;
  &:hover {
    color: #134171;
    text-decoration: none;
  }
}

.navbar-collapse {
  flex-grow: 0;
  @media (max-width: 991px) {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: absolute;
    top: 0;
    right: -300px;
    z-index: 20;
    background: #15626c;
    transition: all .3s ease-in-out;


    .navbar-nav {
      width: 100%;
      flex-direction: column;
    }

    .nav-item {
      border-bottom: 1px solid rgba(#f6f6f6, .25);
      padding: 5px 30px;
    }

    .nav-link {
      color: #fff;
      font-size: 14px;
      padding: 10px 10px !important;
      &:hover {
        color: #fff;
        text-decoration: underline;
      }
    }
  }
}

.navbar-collapse.show {
  @media (max-width: 991px) {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
    background: #15626c;
    transition: all .3s ease-in-out;
    width: 100%;
  }

  @media (max-width: 767px) {
    width: 100%;
  }
}

.navbar-expand-md {
  @media (max-width: 991px) {
    .navbar-toggler {
      display: block;
    }
  }
}

.navbar-toggler {
  z-index: 9999;
  &:focus {
    outline: none;
  }
  &.collapsed {
    .bars-icon {
      fill:#15626c;
    }
  }
}

.bars-icon {
  cursor: pointer;
  width: 24px;
  height: 24px;
  fill: #fff;
}
