@mixin border($color) {
  border: 1px solid $color;
}

@mixin outline($color) {
  outline: 1px solid $color;
}

@mixin button($color) {
  background-color: 1px solid $color;
  border: 1px solid #000;
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

@mixin appearance ($value) {
  &::-webkit-inner-spin-button {
    -webkit-appearance: $value;
    -moz-appearance: $value;
    appearance: $value;
    margin: 0;
  }
}

@mixin flexible {
  display: flex;
  justify-content: space-between;
  align-items: center;
}