.panel {
  padding: 12px 8px;
  border-radius: 6px;
  background-color: #fff;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.panel-block {
  display: flex;
  @media (max-width: 767px) {
    width: 100%;
    margin-bottom: 10px;
  }
}

.pane-search {
  background-color: #F4F7FB;
  border: 1px solid #EAEDF1;
  border-radius: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 0 15px;
  @media (max-width: 767px) {
    width: 100%;
  }
  &__input {
    background-color: transparent;
    border: none;
    &:focus {
      box-shadow: none;
    }
    &::-webkit-input-placeholder {
      color: #3B4256;
    }
    &::-moz-placeholder {
      color: #3B4256;
    }
    &:-ms-input-placeholder {
    }
    &:-moz-placeholder {
      color: #3B4256;
    }
  }

  &__label {
    cursor: pointer;
    display: flex;
    width: 20px;
    height: 20px;
  }

  &__submit {
    display: none;
  }

  &__icon {
    margin: auto;
    fill: $color;
    width: 16px;
    height: 16px;
  }
}