.search-form {
  width: 100%;
}

.search {
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 17px;
  width: 100%;
  @media (max-width: 350px) {
    height: 30px;
  }
  &__input {
    background-color: transparent;
    border: none;
    color: #fff;
    width: 100%;
    &:focus {
      box-shadow: none;
    }
  }

  &__label {
    cursor: pointer;
    display: flex;
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  &__submit {
    display: none;
  }

  &__icon {
    margin: auto;
    fill: #fff;
    width: 14px;
    height: 14px;
  }
}
