.table-theme-block {
  height: 600px;
  overflow: hidden;
  width: 100%;
  overflow-x: auto;
}

.table-theme {
  font-family: $font;
  width: 100%;
  max-width: 100%;
  &__head {
    background-color: $color;
    color: rgba(255, 255, 255, 0.8);
  }

  &__tr {
    cursor: pointer;
    border-bottom: 1px solid #DEDEDE;
  }

  &__th {
    font-weight: normal;
    padding: 12px 15px;
  }

  &__td {
    padding: 10px 15px;
    color: #171D33;
  }
  
  &__link {
    display: flex;
    align-items: center;
    color: #171D33;
  }

  &__span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__tbody {
    background-color: #fff;
  }
}

.table-theme__tr:hover .table-theme__td:not(:first-child) {
    background-color: #F4FCFF;
}

.cell-num {
  position: relative;
  width: 24px;
  height: 24px;
  background-color: rgba(77, 97, 129, 0.08);
  display: flex;
  text-align: center;
  border-radius: 4px;
  &__span {
    font-size: 12px;
    margin: auto;
  }
  &_check {
    background-color: #E56A6B;
    border-radius: 6px;
    .cell-num__span {
      display: none;
    }
    &:after {
      content: "";
      position: absolute;
      display: block;
      left: 12px;
      top: 10px;
      transform: translate(-50%,-50%) rotate(45deg);
      width: 7px;
      height: 13px;
      border: solid #fff;
      border-width: 0 2px 2px 0;
    }
  }
}
