.thumbnail-photo-wrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px;
  &_mb {
    margin-bottom: 15px;
  }
  .thumbnail-photo {
    margin-bottom: 10px;
  }
}

.thumbnail-photo-circle {
  position: relative;
  cursor: pointer;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  color: #fff;
  background-color: #E56A6B;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  span {
    font-size: 20px;
  }
}

.thumbnail-photo-block {
  position: absolute;
  top: 55px;
  left: 0;
  @media (max-width: 347px) {
    top: 115px;
  }
  background-color: #fff;
  padding: 15px;
  display: none;
  flex-wrap: wrap;
  box-shadow: 4px 4px 70px rgba(1, 66, 105, 0.1);
  z-index: 100;
  border-radius: 6px;
  width: 100%;
  max-width: 322px;
  &:after {
    content: "";
    position: absolute;
    top: -10px;
    right: 25px;
    @media (max-width: 347px) {
      content: none;
    }
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #fff;
    .thumbnail-photo {
      margin-bottom: 10px;
    }
  }

  &.active {
    display: flex;
  }
}

.thumbnail-photo {
  position: relative;
  width: 48px;
  height: 48px;
  flex-shrink: 0;

  &_sm {
    width: 36px;
    height: 36px;
    display: inline-block;
    margin-right: 15px;
  }
  &__img {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
  &:not(:last-child) {
    margin-right: 12px;
  }

  &__badge {
    cursor: pointer;
    position: absolute;
    top: -3px;
    right: 0;
    display: flex;
    width: 18px;
    height: 18px;
    background-color: #DB2A2A;
    border-radius: 50%;
    border: 2px solid #fff;
  }

  &__badge-icon {
    fill: #fff;
    width: 8px;
    height: 8px;
    margin: auto;
  }
}
