// colors
$color: #198592;
$light-color: #F4F7FB;

//$link-color: #3498DB;
//$link-hover-color: #2c80b9;
//$critical-color: #EB4D4B;

// fonts
$font: "Roboto-Regular", Arial, Helvetica, sans-serif;
$font-bold: "Roboto-Bold", Arial, Helvetica, sans-serif;
$font-medium: "Roboto-Medium", Arial, Helvetica, sans-serif;
$font-sf-bold: "SanFrancisco-Bold", Arial, Helvetica, sans-serif;
