.col-xl-3.col-lg-6.action
    .block
        h3.title-as-h3.title-as-h3_mod.title-as-h3_pt.title-as-h3_mb Əməliyyat

        .thumbnail-photo-wrap.thumbnail-photo-wrap_mb
            each val in [1, 2, 3, 4]
                - var num = val
                .thumbnail-photo(data-number=num)
                    img.thumbnail-photo__img(src="http://i.pravatar.cc/250?img=" + num)
                    span.thumbnail-photo__badge(data-number=num)
                        +svg("thumbnail-photo__badge-icon", "close")

            .thumbnail-photo-circle
                span +4
            .thumbnail-photo-block
                each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
                    - var num = val
                    .thumbnail-photo(data-number=num)
                        img.thumbnail-photo__img(src="http://i.pravatar.cc/250?img=" + num)
                        span.thumbnail-photo__badge(data-number=num)
                            +svg("thumbnail-photo__badge-icon", "close")


        form.form(action="#" method="POST")
            .block-layout.block-layout_p
                .field.field_mb_min
                    .field__title(data-id="2")
                        .field__title-wrap
                            span.field__addition-text İcazə alan
                            span.field__text Abbasov Abbas

                        +svg("field__icon-arrow", "arrow-down")

                    .field-slid
                        label.field-select
                            span.field-select__span Şahin Süleymanzadə
                            input.field-select__input(type="radio" name="employee" value="Şahin Süleymanzadə")

                        label.field-select
                            span.field-select__span.active Mehdi Musazadə
                            input.field-select__input(type="radio" name="employee" value="Mehdi Musazadə")

                        label.field-select
                            span.field-select__span Rafael Hüseynzadə
                            input.field-select__input(type="radio" name="employee" value="Rafael Hüseynzadə")



                .field.field_mb_min
                    .field__title
                        .field__title-wrap
                            span.field__addition-text Sənədin nömrəsi
                            span.field__text İZ-No111

                        +svg("field__icon-arrow", "arrow-down")

                    .field-slid
                        .field__content
                            p Qenerasiya ounmuş İP nömrəsi

                .field.field_mb_min
                    .field__title
                        .field__title-wrap
                            span.field__addition-text Səbəb
                            span.field__text Xəstəlik

                        +svg("field__icon-arrow", "arrow-down")

                    .field-slid
                        label.field-select
                            span.field-select__span Xəstəlik
                            input.field-select__input(type="radio" name="cause" value="Xəstəlik")

                        label.field-select
                            span.field-select__span.active Ezamiyyət
                            input.field-select__input(type="radio" name="cause" value="Ezamiyyət")

                        label.field-select
                            span.field-select__span Məzuniyyət
                            input.field-select__input(type="radio" name="cause" value="Məzuniyyət")

                .field.field_auto.field_mb_min
                    .field__title
                        .field__title-wrap
                            span.field__addition-text Qeyd
                            textarea.field__textarea(rows="3" placeholder="Əlavə olunan qeydlər" name="message")

            h3.title-as-h3.title-as-h3_mod.title-as-h3_mb Time

            div.fields-wrap-offset
                .fields-wrap.fields-wrap_mb
                    .field.field_w_mid.field_mr_min(id="fromDay")
                        .field__title
                            .field__title-wrap
                                span.field__addition-text Gün
                                input.field__input.field__input_w_100(type='text' value="07.07.2019")

                    .field.field_w_min.field_mr_min
                        .field__title
                            .field__title-wrap
                                span.field__addition-text Vaxt
                                input.field__input.field__input_w_100.field__input_mr(id="fromHour" type='text' value="00:00")

                .fields-wrap.fields-wrap_mb
                    .field.field_w_mid.field_mr_min(id="toDay")
                        .field__title
                            .field__title-wrap
                                span.field__addition-text Gün
                                input.field__input.field__input_w_100(type='text' value="07.07.2019")

                    .field.field_w_min.field_mr_min
                        .field__title
                            .field__title-wrap
                                span.field__addition-text Vaxt
                                input.field__input.field__input_w_100.field__input_mr(id="toHour" type='text' value="00:00")


            button.button.button_submit.button_ml_mid(type="submit") İcazə al