.col-xl-6.col-lg-12.contain
    .panel
        .panel-block
            .field.field_mod
                .field__title
                    span.field__text Mövcut
                    +svg("field__icon-arrow", "arrow-down")

                .field-slid
                    label.field-select
                        span.field-select__span Məzuniyyət
                        input.field-select__input(type="radio" name="field-select")

                    label.field-select
                        span.field-select__span.active Ezamiyyət
                        input.field-select__input(type="radio" name="field-select")

                    label.field-select
                        span.field-select__span Taqaüd
                        input.field-select__input(type="radio" name="field-select")


            .field.field_mod.field_w_auto
                .field__title
                    span.field__text.field__text_mr 2019
                    +svg("field__icon-arrow", "arrow-down")

                .field-slid
                    label.field-select
                        span.field-select__span 2019
                        input.field-select__input(type="radio" name="field-select")

                    label.field-select
                        span.field-select__span.active 2018
                        input.field-select__input(type="radio" name="field-select")

                    label.field-select
                        span.field-select__span 2017
                        input.field-select__input(type="radio" name="field-select")

        form.pane-search
            input.pane-search__input(type="text" placeholder="Search & Filter")
            label.pane-search__label
                input.pane-search__submit(type="submit")
                +svg("pane-search__icon", "search")


    .table-theme-block
        table.table-theme
            thead.table-theme__head
                tr.table-theme__tr
                    th.table-theme__th #
                    th.table-theme__th Ad / Soyad / Ata adı
                    th.table-theme__th Kod
                    th.table-theme__th Bölmə
                    th.table-theme__th Vəzifə
            - var n = 1;
            tbody.table-theme__tbody

                while n < 4
                    tr.table-theme__tr(data-num=n++)
                        td.table-theme__td
                            span.cell-num.cell-num_check
                                span.cell-num__span 3
                        td.table-theme__td
                            a.table-theme__link(href="#")
                                .thumbnail-photo.thumbnail-photo_sm
                                    img.thumbnail-photo__img(src="http://i.pravatar.cc/250?img=" + n)
                                span.table-theme__span Şahin Süleymanzadə Arif

                        td.table-theme__td 12313
                        td.table-theme__td Academy
                        td.table-theme__td Front-end Developer

                while n < 18
                    tr.table-theme__tr(data-num=n++)
                        td.table-theme__td
                            span.cell-num
                                span.cell-num__span 3
                        td.table-theme__td
                            a.table-theme__link(href="#")
                                .thumbnail-photo.thumbnail-photo_sm
                                    img.thumbnail-photo__img(src="http://i.pravatar.cc/250?img=" + n)
                                span.table-theme__span Şahin Süleymanzadə Arif

                        td.table-theme__td 12313
                        td.table-theme__td Academy
                        td.table-theme__td Front-end Developer
