.col-xl-3.col-lg-6.dashboard
    .block
        .headline.headline_mb
            h2.title-as-h2 Dashboard

        h3.title-as-h3.title-as-h3_mb Fields

        .block-layout
            .field.field_mb(id="calendar")
                label.field__label
                    input.field__input.field__input_w_mid.field__input_b.field__input_mr(type='text' value="07.07.2019")
                    +svg("field__icon", "calendar")

            .field.field_mb(id="hour" class="input-group date")
                input.field__input.field__input_w_mid.field__input_mr(type='text' value="00:00")
                span(class="input-group-addon")
                    +svg("field__icon", "clock")

            .field.field_mb
                .field__title(data-id="1")
                    span.field__text Ezamiyyət
                    +svg("field__icon-arrow", "arrow-down")

                .field-slid
                    label.field-select
                        span.field-select__span Məzuniyyət
                        input.field-select__input(type="radio" name="field-select")

                    label.field-select
                        span.field-select__span.active Ezamiyyət
                        input.field-select__input(type="radio" name="field-select")

                    label.field-select
                        span.field-select__span Taqaüd
                        input.field-select__input(type="radio" name="field-select")

            .field.field_mb
                label.field__label.field__label_deactive
                    span deactive
                    input.field__checkbox(type="checkbox" disabled)

                    span.field__checkmark

            .field.field_mb
                label.field__label
                    span deactive
                    input.field__checkbox(type="checkbox")

                    span.field__checkmark

            .field.field_mb
                label.field__label
                    span deactive
                    input.field__checkbox(type="checkbox" checked)

                    span.field__checkmark


            h3.title-as-h3.title-as-h3_mb Radio Button

            .radio-buttons

                label.input-radio
                    input.input-radio__button(type="radio" name="status" checked)
                    span.input-radio__span Təqaüdçü

                each val in [1, 2, 3]
                    label.input-radio
                        input.input-radio__button(type="radio" name="status")
                        span.input-radio__span lorem
