section.navbar-wrapper
    .container-nav
        .row.row-nav
            nav.navbar.navbar-expand-lg
                button(class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                    +svg('bars-icon','bars')

                .navbar-collapse.collapse(id="navbarSupportedContent")
                    ul.navbar-nav.mr-auto
                        li.nav-item.active
                            a.nav-link(href="#") Biz
                        li.nav-item
                            a.nav-link(href="#") Haqqımızda
                        li.nav-item
                            a.nav-link(href="#") Məhsullar
                        li.nav-item
                            a.nav-link(href="#") Sahələr
                        li.nav-item
                            a.nav-link(href="#") Texniki xidmət
                        li.nav-item
                            a.nav-link(href="#") Media
                        li.nav-item
                            a.nav-link(href="#") Əlaqə

